* {
    margin: auto;
}

.nav1 {
    color: white;
    background-color: #160f5c;
    padding: 15px 0px 15px 0px;
    
}



.nav1 > ul > li {
    list-style-type: none;
    display: inline-block;
}

.nav1 > ul > li  a {
    text-decoration: none;
}

.nav1 > ul > li a:visited {
    color: white;
}

.contact {
    float: right;
    padding-right: 30px;
}

.contact > li {
    list-style-type: none;
    display: inline-block;
}

.contact > li a:visited {
    color: white;
}

.contact > li  a {
    text-decoration: none;
}

.menu{
    background-color: #36348E;
    padding: 10px 10px;
    text-align: center;
}

.menu > ul > li {
    list-style-type: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.menu a{
    
    color: white;
    text-decoration: none;
}

img{
    float: left;
    width: 100px;
    height: 80px;
}